body {
  background: linear-gradient(white, rgb(228, 242, 255));
}

.title {
  margin: 30px auto;
  text-align: center;
  font-family: 'Sarina', cursive;
  font-size: 3rem;
  color: rgb(58, 58, 58);
}

.projects-title {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.color-section {
  width: 80%;
  min-width: 600px;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .35);
}

.color-box {
  flex: 1;
  height: 200px;
  transition: .35s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hex-code {
  font-family: 'Skranji', cursive;
  font-size: 1.5rem;
  opacity: 0;
  transition: .45s ease;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
  color: white;
}

.hex-code:hover {
  transform: scale(1.02);
  transition: .3s;
}

.hex-code:active {
  transform: scale(1.05);
  transition: .1s;
  color: rgb(87, 236, 87);
}

.fa-unlock,
.fa-lock {
  font-size: 2.5rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
  transition: .35s ease;
  color: white;
}

i:hover {
  transform: scale(1.1);
}

.color-box:hover {
  cursor: pointer;
  flex: 1.8;
}

.color-box:hover h3 {
  opacity: 1;
}

.color1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.color5 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.controls {
  margin: 40px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, .35);
}

.btn {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .35),
              inset 0 -2px 6px 1px rgba(0, 0, 0, .35);
  font-family: 'Skranji', cursive;
  font-size: 1.2rem;
  border: none;
  background: #EDEDED;
  cursor: pointer;
  outline: none;
  transition: .1s;
}

.btn:active {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .35),
              inset 0 -2px 12px 1px rgba(0, 0, 0, .35);
}

.save-palette,
.create-project {
  background: #84B13D;
}

select {
  width: 150px;
  height: 30px;
  outline: none;
  font-family: 'Skranji', cursive;
  margin: auto 10px;
}

.palette-info {
  margin: 35px auto 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 28px;
  width: 200px;
  margin: auto 10px;
  padding-left: 6px;
  padding-top: 3px;
  outline: none;
}

.palette-name,
.palette-name::placeholder,
.project-name,
.project-name::placeholder {
  font-size: 1.1rem;
  font-family: 'Skranji', cursive;
}

.create-project-section {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 50px;
  border-bottom: 3px solid rgba(0, 0, 0, .35);
}

.projects-container {
  min-height: 20vh;
  width: 80%;
  margin: 0 auto 80px;
  max-width: 1000px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  margin-bottom: 20px;
  position: relative;
}

.project-title {
  width: 250px;
  text-align: center;
  height: 50px;
  background: #7265B0;
  font-family: 'Sarina', cursive;
  font-size: 1.5rem;
  line-height: 50px;
  margin: 0 auto;
  border-radius: 5px;
}

.project-palette {
  display: flex;
  height: 50px;
  position: relative;
  width: 300px;
  margin: 30px auto;
  cursor: pointer;
}

.project-palette-name {
  position: absolute;
  top: 8px;
  padding: 5px 0;
  left: 0px;
  width: 300px;
  line-height: 25px;
  text-align: center;
  font-family: 'Skranji', cursive;
  font-size: 1.5rem;
  transition: .5s ease;
}

.project-palette-color {
  flex: 1;
  opacity: 0.2;
  transition: .5s ease;
  z-index: -1;
}

.project-palette:hover .project-palette-color {
  opacity: 1;
}

.project-palette:hover .project-palette-name {
  background: rgba(255, 255, 255, 0.5);
}

.delete-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 40%;
  right: -15px;
  top: -10px;
  cursor: pointer;
  font-family: 'Skranji', cursive;
  font-size: 1rem;
  color: darkred;
  border: none;
  opacity: 0;
  outline: none;
  transition: .5s ease;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .25),
              inset 0 -2px 2px 1px rgba(0, 0, 0, .35);
}

.project-delete {
  right: 45px;
}

.project-title:hover ~ .project-delete,
.project-delete:hover {
  opacity: 1;
}

.delete-btn:hover {
  animation: shake .5s ease infinite;
}

.project-palette:hover .delete-btn {
  opacity: 1;
}

@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg)
  }
  25%, 75% {
    transform: rotate(5deg)
  }
}

.error {
  font-family: 'Skranji', cursive;
  font-size: 1rem;
  color: darkred;
  margin: 10px;
  transition: .2s ease;
  opacity: 0;
}

.project-error {
  position: absolute;
  bottom: 20px;
}

.error-show {
  opacity: 1;
}